/* your css code */
.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.button {
  display: inline-block;
  min-width: 240px;
  border: 0;
  padding: 8px 16px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 3px;
  transition: all 200ms ease;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  background-color: #3884ff;
}

.button[disabled] {
  background-color: #bdbdbd;
  outline: none;
  pointer-events: none;
}

.button__active:hover,
.button_active:focus {
  background-color: #1f65d6;
}
